<div class="grid">
  <div class="col-4">
    <mat-card>
      <!-- HEADER -->
      <mat-card-header>
        <mat-card-title>
          Desarrollo Web
        </mat-card-title>
      </mat-card-header>

      <!-- CONTENIDO -->
      <mat-card-content>
        <p style="font-size: 2rem;">10</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-4">
    <mat-card>
      <!-- HEADER -->
      <mat-card-header>
        <mat-card-title>
          JavaScript
        </mat-card-title>
      </mat-card-header>

      <!-- CONTENIDO -->
      <mat-card-content>
        <p style="font-size: 2rem;">8</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-4">
    <mat-card>
      <!-- HEADER -->
      <mat-card-header>
        <mat-card-title>
          React
        </mat-card-title>
      </mat-card-header>

      <!-- CONTENIDO -->
      <mat-card-content>
        <p style="font-size: 2rem;">9</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
