<mat-drawer-container class="color" class="example-container" autosize>

  <mat-drawer class="color" mode="over" #drawer class="example-sidenav" mode="side">
    <ul>
      <li>
        <a href="">Inicio</a>
      </li>
    </ul>
  </mat-drawer>

  <div class="example-sidenav-content">

    <mat-toolbar class="color" color="primary">
      <button
        (click)="drawer.toggle()"
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>TechMind</span>
    </mat-toolbar>

    <main class="p-3">
 
      <app-users></app-users>
    </main>
  </div>
</mat-drawer-container>
